<%- include('partials/header.ejs') %>


<title>Add New Product | Bibby</title>
<div class="container">
    <script src="https://cdn.ckeditor.com/ckeditor5/21.0.0/classic/ckeditor.js"></script>
    <script charset="utf-8" src="//cdn.iframe.ly/embed.js?api_key={API KEY}"></script>
    <h1 class="mb-4 mt-4">All Products</h1>
    <form action="/products/add" method="post">
        <div class="form-group">
            <label for="title">Product Name</label>
            <input type="text" class="form-control" name="name" required>
        </div>
        
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" name="price" required>
        </div>

        
        <br>
        <input type="submit" value="Add Product" class="btn btn-primary mb-4">
        <a href="/allproducts" class="btn btn-secondary mb-4">Cancel</a>
        <script>
            ClassicEditor
                .create(document.querySelector('#editor'))
                .catch(error => {
                    console.error(error);
                });
        </script>
    </form>

</div>